<section class="features">
  <div class="rows">
    <div class="row row-header">
      <h2>
        Features
      </h2>
      <p>
        Customers at your fingertips
      </p>
      <div class="underline"></div>
    </div>
    <div class="row">
      <div class="column">
        <div class="feature">
          <i class="fa fa-diamond"></i>
          <h4>
            Diamonds are forever
          </h4>
          <p>
            Receive texts from your customers and then respond to them instantly
          </p>
        </div>
        <div class="feature">
          <i class="fa fa-diamond"></i>
          <h4>
            Diamonds are forever
          </h4>
          <p>
            Receive texts from your customers and then respond to them instantly
          </p>
        </div>
        <div class="feature">
          <i class="fa fa-diamond"></i>
          <h4>
            Diamonds are forever
          </h4>
          <p>
            Receive texts from your customers and then respond to them instantly
          </p>
        </div>
      </div>
      <div class="column image">
        <img src="img/home/index/screenshot.png">
      </div>
      <div class="column">
        <div class="feature">
          <i class="fa fa-diamond"></i>
          <h4>
            Diamonds are forever
          </h4>
          <p>
            Receive texts from your customers and then respond to them instantly
          </p>
        </div>
        <div class="feature">
          <i class="fa fa-diamond"></i>
          <h4>
            Diamonds are forever
          </h4>
          <p>
            Receive texts from your customers and then respond to them instantly
          </p>
        </div>
        <div class="feature">
          <i class="fa fa-diamond"></i>
          <h4>
            Diamonds are forever
          </h4>
          <p>
            Receive texts from your customers and then respond to them instantly
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
