<section class="start get-started">
  <div class="background" style="background-image: url('img/home/index/background-start.jpg');"></div>
  <div class="tint"></div>
  <div class="rows">
    <div class="row row-header">
      <h2>
        Sign up
      </h2>
      <p>
        Get started and join now
      </p>
      <div class="underline"></div>
    </div>
    <div class="row" id="HomeIndexStart"></div>
  </div>
</section>
