section(class="features")
  div(class="rows")
    div(class="row row-header")
      h2.
        Features
      p.
        Customers at your fingertips
      div(class="underline")
    div(class="row")
      div(class="column")
        for i in [1, 2, 3]
          div(class="feature")
            i(class="fa fa-diamond")
            h4.
              Diamonds are forever
            p.
              Receive texts from your customers and
              then respond to them instantly
      div(class="column image")
        img(class="lazy" src="img/empty.png" data-original="img/home/index/screenshot.png")
      div(class="column")
        for i in [1, 2, 3]
          div(class="feature")
            i(class="fa fa-diamond")
            h4.
              Diamonds are forever
            p.
              Receive texts from your customers and
              then respond to them instantly
