section(class="features")
  div(class="rows")
    div(class="row row-header")
      h2.
        Features
      p.
        Customers at your fingertips
      div(class="underline")
    div(class="row")
      div(class="column")
        div(class="feature")
          i(class="fa fa-mobile")
          h4.
            Uses a standard phone number
          p.
            Customers can text your business like any regular phone number.
            Use your existing number or get a new one through Tabbs.
        div(class="feature")
          i(class="fa fa-thumbs-o-up")
          h4.
            Improve customer service
          p.
            No waiting on the phone, easy to confirm appointments,
            respond more frequently, timestamped messages, send alerts,
            and less communication error.
        div(class="feature")
          i(class="fa fa-group")
          h4.
            Good for any business size
          p.
            Supports any business size.
            Add and remove members to optimize your needs.
      div(class="column image")
        img(class="lazy" src="img/empty.png" data-original="img/home/index/screenshot.png")
      div(class="column")
        div(class="feature")
          i(class="fa fa-warning")
          h4.
            No spam policy
          p.
            Tabbs does not allow any spamming or marketing of coupons and
            products to customers.
            It is solely to engage with customers through text.
        div(class="feature")
          i(class="fa fa-file-picture-o")
          h4.
            Picture messaging
          p.
            Text to exchange product pictures and URL links to eliminate the
            hassle of describing items over the phone.
        div(class="feature")
          i(class="fa fa-desktop")
          h4.
            Tabbs dashboard
          p.
            Manage, track and respond to multiple conversations at once
            from your mobile phone or desktop for convenience and speed.
