div(class="hero")
  div(class="hero__background")
    div(class="hero__background__tint")
    div(class="hero__background__image lazy" data-original="img/home/index/background.jpg")
    div(class="hero__background__content")
      div(class="row")
        div(class="hero__background__content__image")
          img(src="img/favicon.png")
      div(class="row")
        div(class="hero__background__content__text")
          h1.
            Let customers send and receive text messages
            to connect with your business
      div(class="row hero__background__content__actions")
        a(href="#" class="js-button js-scroll-to" data-scroll-to-key="get-started").
          Get Started
      div(class="row")
        a(href="#" class="arrow js-button js-scroll-to" data-scroll-to-key="how")
          div(class="icon")
            i(class="fa fa-angle-double-down")
