section(class="how")
  div(class="rows")
    div(class="row")
      div(class="column image")
        img(class="lazy" data-original="img/home/index/how.png")
      div(class="column text")
        div(class="row row-header")
          h2.
            Change the way customers engage with you
        div(class="row row-body")
          p.
            Tabbs is a messaging platform that helps businesses improve
            interactions with their customers through text messages (or SMS).
            Customers will be able to text a standard mobile number to contact
            staff for product discovery, schedule appointments and
            receive customer service instead of the traditional phone call.
            For businesses, Tabbs provides a mobile and desktop dashboard to
            manage, respond, and track conversations.
        div(class="row row-steps")
          h4.
            How it works
          ol
            li
              p.
                Sign up with your business information and Tabbs will give
                you a new number your customers can text.
            li
              p.
                Post your number to your webpage, Yelp, and other locations
                customers find contact information.
            li
              p.
                Receive messages from customers and start responding!
            li
              p.
                Manage conversations and your users from the desktop dashboard.
