section(class="start get-started")
  div(class="background lazy" data-original="img/home/index/background-start.jpg")
  div(class="tint")
  div(class="rows")
    div(class="row row-header")
      h2.
        Sign up
      p.
        Get started and join now
      div(class="underline")
    div(class="row" id="HomeIndexStart")
