footer
  div(class="footer")
    div(class="row")
      div(class="column contact")
        p.
          Have questions? Contact us at 408-753-5524
      div(class="column copyright")
        p.
          Tabbs &#169; #{year()}
