header
  div(class="header__container")
    div(class="column")
      div(class="header__container__logo")
        a(href="/").
          Tabbs
    div(class="column")
      div(class="header__container__navigation")
        ul
          li
            a(href="/sign-up").
              Sign up
          li
            a(href="/login").
              Login
