@import "features";
@import "start";

.home-index {
  header {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  section {
    .rows {
      .row {
        &.row-header {
          text-align: center;
          h2 {
            font-weight: $font-weight-medium;
          }
          .underline {
            border-bottom: 2px solid $blue;
            margin: $spacing auto 0 auto;
            max-width: $spacing * 15;
            width: 100%;
          }
        }
      }
    }
  }
}
